li data-comment-id=comment.id
  = link_to comment, remote: true, method: :delete, :class => "close" do
    span aria-hidden="true"  &times;
  .commenterImage
    img src="http://placekitten.com/45/45" /
  .commentText
    p = comment.text
    span.date.sub-text on #{comment.created_at.strftime("%d-%b-%Y %H:%M:%S")}