= simple_form_for Comment.new, remote: true do |form|
  = form.error_notification

  .input-group
    = form.input :text, :class => "form-control", label:false, required: true
    = form.hidden_field :task_id, :value => @task.id
    span.input-group-btn
      = form.button :submit, :class => "btn btn-default"