= simple_form_for Task.new, remote: true do |form|
  = form.error_notification

  .form-inputs
    = form.input :label, required: true
    .form-group
      label for="task_description"  Description
      = form.text_area :description, :class => :"form-control", :rows => "5", required: true
    .form-group
      = form.association :project, label_method: :label, required: true
  .form-actions
    = form.button :submit