div data-task-id=task.id
  .alert.alert-info.dark role="alert"
    = link_to task, remote: true, method: :delete, :class => "close" do
      span aria-hidden="true"  &times;
    h4.alert-heading
      a.alert-link href="/tasks/#{task.id}" = task.label
    p = task.description
    hr
    .row
      .col-md-6.flex-column
        .status-label Project: #{task.project.label}
        .top-margin
          span.status-label Status:
          span.status-selector
            select.form-control.input-sm onchange="onStatusChanged(#{task.id}, this.value)"
              - $statuses.each do |status|
                option selected=option_value_selected?("#{task.status}", status) = status
      .col-md-6
        span.time = task.created_at.strftime("%d-%b-%Y %H:%M:%S")