$(".model-container").append("<%= j render @task %>");
$(".simple_form").find("input[type=text], textarea, select").val("");
swal({
    title: 'Success!',
    text: 'Task created ¯ \\  (ツ)  / ¯.',
    timer: 2000,
    type: 'success',
    onOpen: () => {
      swal.showLoading()
    }
})