= simple_form_for Project.new, remote: true do |form|
  = form.error_notification

  .form-inputs
    = form.input :label
    .form-group
      label for="project_description"  Description:
      = form.text_area :description, :class => :"form-control", :rows => "5", required: true

  .form-actions
    = form.button :submit
