div data-project-id=project.id
  .alert.alert-info.dark role="alert"
    = link_to project, remote: true, method: :delete, :class => "close" do
      span aria-hidden="true"  &times;
    h4.alert-heading = project.label
    p = project.description
    hr
    p.time = project.created_at.strftime("%d-%b-%Y %H:%M:%S")
     .model-actions
       = link_to project, remote: true, method: :delete do
         span.glyphicon.glyphicon-remove
