$(".model-container").append("<%= j render @project %>");
$(".simple_form").find("input[type=text], textarea").val("");
swal({
    title: 'Success!',
    text: 'Project created ¯ \\  (ツ)  / ¯.',
    timer: 2000,
    type: 'success',
    onOpen: () => {
      swal.showLoading()
    }
})