$borders: #e7e7e7;
$grey-background: #f8f8f8;

.model-text, .model-actions {
  padding: 7px;
}

.fill {
  height: 100%;
  min-height: 100%;
}

textarea {
  resize: none;
}

.dark {
  border-color: $borders;
  background-color: $grey-background;
  color: black;
}

.dark hr {
  border-top-color: $borders;
}

.model-footer {
  font-size: 15px;
  margin: -13px 5px 0 0px;
}


.time {
  @extend .model-footer;
  opacity: 0.2;
  float: right;
}

.status-label {
  @extend .model-footer;
  opacity: 0.2;
  font-weight: bold;
  float: left;
}

.status-selector {
  @extend .model-footer;
  float: left;
}

.alert p, h4 {
  word-wrap: break-word;
}

.alert .close {
  margin-top: -7px;
}

.input-sm, select.input-sm {
  height: 22px;
  line-height: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.top-margin {
  margin-top: 20px;
}

.alert-heading .alert-link {
  color: black;
  cursor: pointer;
}

.detailBox {
  width:320px;
  border:1px solid #bbb;
  margin:50px;
}
.titleBox {
  background-color:#fdfdfd;
  padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
}
.actionBox .form-group * {
  width:100%;
}
.taskDescription {
  margin-top:10px;
}
.commentList {
  padding:0;
  list-style:none;
  max-height:400px;
  overflow:auto;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: $borders;
}
.commentList li {
  margin:10px;
}
.commentList li > div {
  display:table-cell;
}
.commenterImage {
  width:30px;
  margin: 5px 5px 0 0;
  height:100%;
  float:left;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.commentText p {
  margin:0;
}
.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}

.input-group {
  padding-bottom: 20px;
}