doctype html
html
  head
    title Management
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  nav.navbar.navbar-default
    .container
      /! Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand href="/"  Management
      /! Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.dropdown
            li
              a href="/projects"  Projects
            li
              a href="/tasks"  Tasks
        ul.nav.navbar-nav.navbar-right
          - if not current_user.nil?
            li.dropdown
              a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
                = current_user.email
                span.caret
              ul.dropdown-menu.pull-right style="width: 100%"
                li
                  a href="/users/edit"  Edit
                li.divider role="separator"
                li
                  a href="/users/sign_out" data-method="delete" Sign out
          - else
            li
              a href="/users/sign_in" Sign In
            li
              a href="/users/sign_up" Sign Up
  body
    .container.fill
      - if not notice.nil?
          p class="notice alert alert-success"
            = notice
      - if not alert.nil?
          p class="alert alert-warning"
            = alert
      = yield
